@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
	ViewData["PageTitle"] = @Model.Value("pageTitle");
    ViewData["PageDescription"] =@Model.Value("pageDescription");
    ViewData["WebsiteName"] = "Fixxo.";
    
    ViewData["SaleUpTo"] = @Model.Value("saleUpTo");
    ViewData["PercentageSale"] = @Model.Value("percentageSale");
    ViewData["SalesDescription"] = @Model.Value("salesDescription");
    
    ViewData["Category"] = @Model.Value("category");
    ViewData["Headline"] = @Model.Value("headline");
    ViewData["Price"] = @Model.Value("price");
    ViewData["ImageUrl"] =@Model.Value("imageUrl");
    
    ViewData["Category2"] = @Model.Value("category2");
    ViewData["Headline2"] = @Model.Value("headline2");
    ViewData["Price2"] = @Model.Value("price2");
    
    ViewData["Category3"] = @Model.Value("category3");
    ViewData["Headline3"] = @Model.Value("headline3");
    ViewData["Price3"] = @Model.Value("price3");
    
    ViewData["Category4"] = @Model.Value("category4");
    ViewData["Headline4"] = @Model.Value("headline4");
    ViewData["Price4"] = @Model.Value("price4");
    
    ViewData["Category5"] = @Model.Value("category5");
    ViewData["Headline5"] = @Model.Value("headline5");
    ViewData["Price5"] = @Model.Value("price5");
    
    ViewData["Category6"] = @Model.Value("category6");
    ViewData["Headline6"] = @Model.Value("headline6");
    ViewData["Price6"] = @Model.Value("price6");
    
    ViewData["Category7"] = @Model.Value("category7");
    ViewData["Headline7"] = @Model.Value("headline7");
    ViewData["Price7"] = @Model.Value("price7");
    
    ViewData["Category8"] = @Model.Value("category8");
    ViewData["Headline8"] = @Model.Value("headline8");
    ViewData["Price8"] = @Model.Value("price8");
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @if(!string.IsNullOrEmpty(ViewData["PageDescription"].ToString())) { <meta name="description" content="@ViewData["PageDescription"]"> }
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/41c8b474e2.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <title>@ViewData["PageTitle"] | Fixxo.</title>
</head>
<body>
    
    <partial name="Navbar" />

    @RenderBody()

    <partial name="footer" />
    
<script src="/scripts/script.js"></script>
</body>
</html>