@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="contact-form">
        <div class="container">            
            <div class="content text-center">
                <h2>@Model.Value("pageTitle")</h2>
                @Model.Value("contactPageBody")
            </div>
            <form noValidate>
                <div>
                    <input id="name" type="text" placeholder="@Model.Value("FirstForm")" />
                    <div class="errorMessage"></div>
                </div>
                <div>
                    <input id="email" type="email" placeholder="@Model.Value("SecondForm")" />
                    <div class="errorMessage"></div>
                </div>
                <div class="textarea">
                    <textarea id="comments" placeholder="@Model.Value("ThirdForm")"></textarea>
                    <div class="errorMessage"></div>
                </div>
                <div class="formBtn">
                    <button type="submit" class="btn btn-theme">Post Comments</button>
                </div>
            </form>    
        </div>
    </section>