@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="my-products">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="product-img">
                    <img src="@Model.Value("ImageUrl")" class="img">
                </div>
                    <div class="product-body">
                        <p class="product-category">@Model.Value("Category")</p>
                        <h5 class="product-title">@Model.Value("Headline")</h5>
                        <p class="product-rating">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </p>
                        <p class="product-price">@Model.Value("Price")</p>
                    </div>
            </div>
            <div class="col">
                <div class="product-img">
                    <div class="img">
                        <img src="" alt="">
                        <div class="product-menu">
                            <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                        </div>
                        <a class="btn-theme btn-product-theme" id="quick-view" href="#">
                            QUICK VIEW
                        </a>
                    </div>

                    <div class="product-body">
                        <p class="product-category">@Model.Value("Category2")</p>
                        <h5 class="product-title">@Model.Value("Headline2")</h5>
                        <p class="product-rating">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </p>
                        <p class="product-price">@Model.Value("Price2")</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="product-img">
                    <div class="img">
                        <img src="" alt="">
                        <div class="product-menu">
                            <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                        </div>
                        <a class="btn-theme btn-product-theme" id="quick-view" href="#">
                            QUICK VIEW
                        </a>
                    </div>

                    <div class="product-body">
                        <p class="product-category">@Model.Value("Category3")</p>
                        <h5 class="product-title">@Model.Value("Headline3")</h5>
                        <p class="product-rating">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </p>
                        <p class="product-price">@Model.Value("Price3")</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="product-img">
                    <div class="img">
                        <img src="" alt="">
                        <div class="product-menu">
                            <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                        </div>
                        <a class="btn-theme btn-product-theme" id="quick-view" href="#">
                            QUICK VIEW
                        </a>
                    </div>

                    <div class="product-body">
                        <p class="product-category">@Model.Value("Category4")</p>
                        <h5 class="product-title">@Model.Value("Headline4")</h5>
                        <p class="product-rating">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </p>
                        <p class="product-price">@Model.Value("Price4")</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="product-img">
                    <div class="img">
                        <img src="" alt="">
                        <div class="product-menu">
                            <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                        </div>
                        <a class="btn-theme btn-product-theme" id="quick-view" href="#">
                            QUICK VIEW
                        </a>
                    </div>

                    <div class="product-body">
                        <p class="product-category">@Model.Value("Category5")</p>
                        <h5 class="product-title">@Model.Value("Headline5")</h5>
                        <p class="product-rating">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </p>
                        <p class="product-price">@Model.Value("Price5")</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="product-img">
                    <div class="img">
                        <img src="" alt="">
                        <div class="product-menu">
                            <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                        </div>
                        <a class="btn-theme btn-product-theme" id="quick-view" href="#">
                            QUICK VIEW
                        </a>
                    </div>

                    <div class="product-body">
                        <p class="product-category">@Model.Value("Category6")</p>
                        <h5 class="product-title">@Model.Value("Headline6")</h5>
                        <p class="product-rating">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </p>
                        <p class="product-price">@Model.Value("Price6")</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="product-img">
                    <div class="img">
                        <img src="" alt="">
                        <div class="product-menu">
                            <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                        </div>
                        <a class="btn-theme btn-product-theme" id="quick-view" href="#">
                            QUICK VIEW
                        </a>
                    </div>

                    <div class="product-body">
                        <p class="product-category">@Model.Value("Category7")</p>
                        <h5 class="product-title">@Model.Value("Headline7")</h5>
                        <p class="product-rating">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </p>
                        <p class="product-price">@Model.Value("Price7")</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="product-img">
                    <div class="img">
                        <img src="" alt="">
                        <div class="product-menu">
                            <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                        </div>
                        <a class="btn-theme btn-product-theme" id="quick-view" href="#">
                            QUICK VIEW
                        </a>
                    </div>

                    <div class="product-body">
                        <p class="product-category">@Model.Value("Category8")</p>
                        <h5 class="product-title">@Model.Value("Headline8")</h5>
                        <p class="product-rating">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </p>
                        <p class="product-price">@Model.Value("Price8")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>