@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider


@{ 
    var site = Model.Root();
    var selection = site.Children.Where(x => x.IsVisible(PublishedValueFallback)).OrderByDescending(x => x.CreateDate).ToArray(); 
}



<nav class="navbar container">
    <div class="Fixxo-logo" href="@site.Url()">Fixxo.</div>
        <ul class="navbar-nav">
        
            <div class="navbar-flex">
            <li class="nav-item"><a class="nav-link @(Model.Id == site.Id ? "active" : null)" href="@site.Url()">@site.Name</a></li>
            @if (selection?.Length > 0)
            {
            
            @foreach (var item in selection)
            {
            <li class="nav-item"><a class="nav-link @(item.IsAncestorOrSelf(Model) ? "active" : null)" href="@item.Url(PublishedUrlProvider)">@item.Name</a></li>
            }
            
            }
            
        </ul>
            </div>
                <div class="navbar-icon-links">
                    <a href="#"><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-theme">3</span><i class="fa-regular fa-bag-shopping"></i></a>
                </div>
</nav>

